
.container {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // 
  // margin: 0 20px;
  width: 100%;

  @media screen and (max-width: 439px) {
    display: none;
  }
}

.editor {
  user-select: none;
  background-color: darkblue;
  height: 100%;
  width: 40%;
  min-width: 320px;
  margin: 0 0 0 20px;
  border: 1px solid black;
}

.writer {
  font-family: monospace;
  color:#0000;
  background:
    linear-gradient(-90deg,#00DFFC 5px,#0000 0) 10px 0,
    linear-gradient(#00DFFC 0 0) 0 0;
  background-size:calc(124*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
    b .7s infinite steps(1),   
    t calc(124*.2s) steps(124) forwards;
}

.butt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin-right: 20px;
  border: 1px solid black;
  button {
    animation: fadeIn calc(128*.2s) steps(1);
  }
}

@keyframes fadeIn {
  from {visibility: hidden;}
  to {visibility: visible;}
}

@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}